In [19]:
import pandas as pd
import numpy as np
import string
from sklearn.preprocessing import MultiLabelBinarizer

from sampling.robrose import RobRoseAlgorithm
from sampling.adasyn import Adasyn
from sampling.smote import SmoteAlgorithm
from sklearn.model_selection import train_test_split

In [11]:
spam_df = pd.read_csv("../data/spam_text_msg.csv")
spam_df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
text_data = []
for text in spam_df['Message'][:2000]:
    new_text = text.translate(str.maketrans('', '', string.punctuation))
    #new_text = new_text.strip()
    text_data.append(new_text)

In [13]:
df = pd.DataFrame()
df['Category'] = spam_df[:2000]['Category']
df['Message'] = text_data

df.head()

  Category                                            Message
0      ham  Go until jurong point crazy Available only in ...
1      ham                            Ok lar Joking wif u oni
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham        U dun say so early hor U c already then say
4      ham  Nah I dont think he goes to usf he lives aroun...

In [14]:
dummies = df['Message'][:2000].str.get_dummies(' ')

In [17]:
df = pd.concat([df, dummies],1)

In [18]:
df.head()

,Category,Message,0,0089my,0125698789,020603,0207,02072069400,020903,021,...,£75000,£79,£800,£900,Ü,ü,üll,–,“Harry,…
0,ham,Go until jurong point crazy Available only in ...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ham,Ok lar Joking wif u oni,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ham,U dun say so early hor U c already then say,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ham,Nah I dont think he goes to usf he lives aroun...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# PreProcessing
y = df["Category"]
x = df.drop(['Category', 'Message'], axis=1)

x_train, x_test, y_train, y_test = train_test_split(x.to_numpy(), y.to_numpy(), train_size=0.80, random_state=4012)

In [25]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1600, 6432)
(400, 6432)
(1600,)
(400,)

In [29]:
# SMOTE Sampling
smote_x_train, smote_y_train = SmoteAlgorithm.run(x_train, y_train)

/Users/weixin/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:86: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [30]:
print(smote_x_train.shape)
print(smote_y_train.shape)

(2768, 6432)
(2768,)